@*Details customer*@
@model Customer

@{
    ViewData["Title"] = "Client";
}
<div style="color: antiquewhite; font-weight: bold; text-align: center;align-content: center;">
    <div>Nom : @Model.LastName</div><br />
    <div>Prénom : @Model.FirstName</div><br />
    <div>Date de naissance : @Model.BirthDate.ToShortDateString()</div><br />
</div>
<div style=" text-align: center; align-content: center;">
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a>*@
    @using (Html.BeginForm("Edit", "Customers", new { Id = Model.Id }, FormMethod.Get))
    {<button style="background-color:darkslategrey;color:black;">Modifier</button>}
    @*<a asp-action="Delete" asp-route-id="@Model.Id">Supprimer</a>*@
    @using (Html.BeginForm("Delete", "Customers", new { Id = Model.Id }, FormMethod.Get))
    {<button style="background-color:darkred;color:black;">Supprimer</button>}

    @using (Html.BeginForm("Index", "Customers", FormMethod.Get))
    {<button style="background-color:aqua;color:black;">Revenir</button>}
</div>
